<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('visitor.welcome.index')}}">Electro<span class="text-primary">Tech</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('visitor.welcome.index')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('visitor.catalog.index')}}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('visitor.about_us.index')}}">À Propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('visitor.contact.create')}}">Contact</a>
                </li>
                
                <li class="d-lg-flex my-3 my-lg-0 mx-lg-3">
                    <div class="input-group">
                        <form class="d-flex" role="search">
                            <input class="form-control" type="search" placeholder="Rechercher un produit" aria-label="Rechercher un produit">
                            <button id="search-button" type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>                    
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('visitor.cart.index')}}">Mon panier <i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
            {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                        {{app.user.firstName}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="">Espace client</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{path('app.logout')}}">Déconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
                <a href="{{path('visitor.authentication.login')}}" class="btn btn-primary my-3 my-lg-0">Connexion</a>
                <a href="{{path('visitor.registration.register')}}" class="btn btn-light my-3 my-lg-0 mx-lg-2">Inscription</a>
            {% endif %}
            
        </div>

    </div>
</nav>